@model IEnumerable<EcommerceProject.Models.Product>

@{
    ViewData["Title"] = "Product list";
}



<h2>Index</h2>

<p>

</p>
<table class="table">
    <thead>
        <tr>
         <th></th>

            <th>
               Name
            </th>
            <th>
                Price
            </th>
           
            <th>
               Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
            @{
                var imageName = item.ProductName + ".jpg";
            }

            <img src="~/wwwroot/images/@imageName"/>
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.ProductSubCategory)
            </td>
            <td>
                <a asp-action="Buy"  asp-route-id="@item.ProductId"><img src="~/images/cart.png" alt="Add to cart" /></a>
            </td>
        </tr>
        }
    </tbody>
</table>
