@model IEnumerable<EcommerceProject.Models.Product>

@{
    ViewData["Title"] = "Products";
}


<img src="~/images/list.png" alt="GG" />
<link href="~/css/table.css" rel="stylesheet" />




<table class="jumbotron d-flex align-items-center">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                Details
            </th>
            <th>
                Price
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var imageName = item.ProductName + ".jpg";
                    }
                    <img src="~/wwwroot/images/@imageName" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>

                <td>
                    <a asp-action="Buy" asp-route-sub="@item.ProductSubCategory" asp-route-id="@item.ProductId"><img src="~/images/cart.png" alt="Add to cart" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
